body {
    height: 100vh;
    background-color: darkorchid;
}
header {
    width:100% ;
    height:20vh ;
    background-color: aqua ;
}
nav {
    width:30% ;
    height:50px ;
    background-color: crimson ;
    margin:0 auto ;
}
div {
    width:100% ;
    height:60vh ;
    background-color: darkseagreen;
}
aside {
    width:30% ;
    height:60vh ;
    background-color: darkgrey ;
    float:left ;
    text-align:center ;
}


main {
    width:70% ;
    height:60vh ;
    background-color: palegreen ;
    float:right ;
}